@import "tailwindcss";

@theme inline {
  /* From Figma */
  --color-neutrals-0: #FFFFFF;
  --color-neutrals-500: #6D6F73;
  --color-neutrals-900: #202326;

  --color-purple-200: #EECFFC;
  --color-purple-500: #7B1FA2;

  /* From me */
  --color-primary: #7B1FA2;
  --color-primary-foreground: #FFFFFF;

  --color-background: var(--color-neutrals-0);
  --color-foreground: var(--color-neutrals-900);

  --font-sans: var(--font-nunito-sans);
}
